<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Название</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Цена</mat-label>
        <input matInput formControlName="price">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Фото</mat-label>
        <input matInput formControlName="image">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Описание</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>
    <button mat-flat-button color="primary" type="submit">{{isNew ? 'Добавить товар' : 'Обновить'}}</button>
    <button mat-flat-button color="primary" type="button" (click)="onNoClick()">Отмена</button>
  </form>
  